<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Real pra Dolar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/img/sifron.png">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <header id="begin">
        <h1><img class="iconcirc" src="static/img/sifron.png"></h1>
       <blockquote><i>'Somente consumindo uma api de cambio aberta'</i></blockquote>
        <hr>
            <section>
                <aside>
                    <h2>{{name}}</h2>
                    <h3>$1,00 dolar vale R${{cota}} </h3>
                </aside>
                 <aside>
                    <h2>Valor maximo do dia</h2>
                    <h3>R${{high}}</h3>
                </aside>
                <aside>
                    <h2>Valor minimo do dia</h2>
                    <h3>R${{low}}</h3>
                </aside>
            </section>
    </header>
    <footer>
        <a href="#begin"><strong>Voltar ao topo &#8593</strong></a>
        <hr>
        <small>Desevolvido por <a href="#begin">Eduardo P. Soares</a> com mvp.css, Flask, economia.awesomeapi.com </small>
    </footer>
</body>

</html>